<!DOCTYPE html>
<html>
  <head>
    <title>QuizBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <ul>
      <li><%= current_user.email %></li>
      <li><%= link_to "log out", logout_path, method: "delete" %></li>
    <% else %>
    <ul>
      <li><%= link_to "login", 'login' %></a></li>
      <li><%= link_to "signup", 'signup' %></a></li>
    </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
